.wrap
 .boh-yubird
   .boh
     .feet
     .tail
     .lower-body
     .upper-body
     .head
       .eyes
       .nose
       .ears
   .yubird
     .left-wing
     .right-wing
     .left-leg
     .right-leg
     .hair
       .hair-1
       .hair-2
     .body
     .beak
     .yu-eyes
